<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar contain">
        <div>
          <a href="#">
            <img src="/logo.png" alt="Logo" class="Logo">
          </a>
        </div>
        <div class="nav-links">
          <a class="nav-button">Home</a>
          <a class="nav-button">Fruits</a>
          <a class="nav-button">Vegetables</a>
          <a class="nav-button">Catalog</a>
          <a class="nav-button">Contact</a>
        </div>
        <div>
          <div class="search-box">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search">
          </div>
        </div>
      </nav>
    </header>

    <section>
      <div class="poster contain">
        <div class="poster-content">
          <p class="mr">Fresh Fruits</p>
          <p class="SJ">Watermelon</p>
          <button class="btn-shop">Shop now</button>
          <div class="price-wrapper">
            <span class="price">$2/kg</span>
            <span class="price_2">$1/kg</span>
          </div>
        </div>
        <div>
          <img src="/sandia.png" alt="model" class="poster-image">
        </div>
      </div>
    </section>

    <main class="catalog contain">

      
      <div class="title-container">
        <p class="main-title">Our Catalog</p>
        <p class="sub-title">Fruits</p>
      </div>

      
      <div class="product-rows">
        <div class="product">
          <div>
            <img src="orange.png" alt="orange" class="product-image">
          </div>
          <div class="product-info">
            <span class="info-name">Orange</span>
            <span class="info-desc">Juice in the morning?</span>
            <span class="price">$0.5</span>
            <button class="btn-buy">Buy Now</button>
          </div>
        </div>
        <div class="product">
          <div>
            <img src="apple.png" alt="apple" class="product-image">
          </div>
          <div class="product-info">
            <span class="info-name">Apple</span>
            <span class="info-desc">Enjoy the best apple in Dowm Towm</span>
            <span class="price">$1</span>
            <button class="btn-buy">Buy Now</button>
          </div>
        </div>
        <div class="product">
          <div>
            <img src="banana.png" alt="banana" class="product-image">
          </div>
          <div class="product-info">
            <span class="info-name">Bananas</span>
            <span class="info-desc">Only eat</span>
            <span class="price">$0.2</span>
            <button class="btn-buy">Buy Now</button>
          </div>
        </div>
        </div>
      </div>


      <div class="title-container">
        <p class="sub-title">Vegetables</p>
      </div>


       <div class="product-rows">
        <div class="product_1">
            <div>
                <img src="cucumber.png" alt="cucumber" class="product-image">
            </div>
            <div class="product-info">
                <span class="info-name">Cucumber</span>
                <span class="info-desc">Enjoy in your salad</span>
                <span class="price">$0.1</span>
                <button class="btn-buy">Buy Now</button>
            </div>
        </div>
        <div class="product_1">
            <div>
                <img src="/carrot.png" alt="carrots" class="product-image">
            </div>
            <div class="product-info">
                <span class="info-name">Carrots</span>
                <span class="info-desc">Fresh and ready</span>
                <span class="price">$0.1</span>
                <button class="btn-buy">Buy Now</button>
            </div>
        </div>
        <div class="product_1">
            <div>
                <img src="/letuce.png" alt="Letuce" class="product-image">
            </div>
            <div class="product-info">
                <span class="info-name">Letuce</span>
                <span class="info-desc">Enjoy in your salad</span>
                <span class="price">$1</span>
                <button class="btn-buy">Buy Now</button>
            </div>
        </div>
    </div>
      
      </div>

    </main>
    <section class="newsletter">
        <h2 class="newsletter-title">Buy the most fresh fruits and vegetables in the dowm towm</h2>
        <p class="newsletter-desc">Get the best offers</p>
        <input type="email" placeholder="Enter your email" class="newsletter-input">
        <button class="newsletter-btn">Send</button>
    </section>


    <footer class="footer">
        <p>Ecommerce practice by Jeff</p>
    </footer>
  </body>
</html>